	 

       h1{
        color:#ac261a;
            text-align:center;
            font-size:300%;
            font-weight:bold;
            text-transform:capitalize;
            margin:10px;
       }

       h2{
            color:#4040bf;
            text-align:center;
            font-size:150%;
            font-weight:bold;
            font-style:italic;
            text-transform:capitalize;
            margin:10px;
           
       }

       h3{
        color:#4040bf;
            text-align:center;
            font-size:150%;
            font-weight:bold;
            font-style:italic;
            border-style: solid;
            margin: 6px;
            border-top:0px;
            border-right: 0px;
            border-left: 0px;
            border-width: 3px;
            border-color: black;
            magin: 0px;

            
            

       }
h4{
	
}
    

		#ll{
			color: white;
			font-size:120%;
			font-weight:bold;
            font-style:italic;
            text-align: right;

		}
		.bo{
			color:#4040bf;

			font-size:200%;
			font-weight:bold;
            text-align: left;
            margin:3%;


		}

      

        li{
        	
        	list-style:none;
            }

        a:link,a:visited{
        	text-decoration:none;
        	
        	border:4px solid blue;
        	color:darkred;
        	display:block;
        	width:100%;
        	text-align:center;
        	margin-bottom:6px;}

        a:hover,a:active{
        	background-color:lightblue;
        	color:darkgreen;
        }

     /*   li:nth-child(odd){
        	background-color:lightgray;
        	display:block;
        	width:300px;

        	
        }*/
        li{
            text-align:center;
            background-color:lightgray;
            display:block;
            width:100%;
        }


       ol{
            width:80%;
            height:70%;
             
            background-image:url(yy.jpg);
            
             background-repeat: no-repeat;
            background-size: 50%
             background-repeat: no-repeat;
            
            background-position:top right;
             

            color:#34cca3;
            text-align:left;
            font-size:180%;
            font-weight:bold;
            font-style:italic;
            text-transform:capitalize;
            
        }

         

        body{
            background-image:url("bk.jpg");
            background-color:#99e6ff;
            font-family:"Audiowide";
         }
